<section class="interesting" id="{{block.have_questions.info.name}}">

    <div class="tn-atom one"></div>
    <div class="tn-atom two"></div>
    <div class="tn-atom five"></div>
    

    <div class="interesting_heading">
        <div class="container">
            <h2>{{block.have_questions.heading}}</h2>
        </div>
    </div>

    <div class="interesting_banner" style="background-image: url('{{block.have_questions.kamaz.img.url}}')">

        <div class="tn-cir tn-one"></div>
        <div class="tn-cir tn-two"></div>
        <div class="tn-cir tn-three"></div>
        
        <div class="container">
            <div class="interesting_wrapper">
                <div class="interesting_title">
                    <h3>{{block.have_questions.kamaz.name}}</h3>
                </div>
                <div class="interesting_text">
                    <p>{{block.have_questions.content}}</p>
                </div>
                <a href="{{ block.have_questions.link_to_teleport}}" class="btn interesting_button">Связаться</a>
            </div>
        </div>
    </div>

</section>


